* { box-sizing: border-box; }

.commentBox {
	width: 100vw;
	height: 100vh;
	margin: auto;
	padding: 20px;
}

.common {
	display: inline-block;
	width: calc(50% - 10px);
	height: 100%;
	vertical-align: middle;
	border: 1px solid gray;

	&:first-of-type {
		margin-right: 20px;
	}

	> div {
		position: relative;
  		top: 50%;
  		transform: translateY(-50%);
  		margin: 0 20px;
		border: 1px solid gray;
	}
}

.comment {
	position: relative;
	padding-left: 20px;
	border-top: 1px solid gray;
	.arrow {
    	position: absolute;
    	top: 3px;
    	cursor: pointer;
	    &.arrow-left {
	    	right: 10px;
			border-top: 5px solid transparent;
		    border-bottom: 5px solid transparent;
		    border-left: 5px solid gray;
	    }
	    &.arrow-right {
	    	left: 10px;
			border-top: 5px solid transparent;
		    border-right: 5px solid gray;
		    border-bottom: 5px solid transparent;
	    }
	    &.arrow-up {
	    	right: 10px;
			border-left: 5px solid transparent;
		    border-right: 5px solid transparent;
		    border-bottom: 5px solid gray;
	    }
	    &.arrow-down {
	    	right: 20px;
			border-top: 5px solid gray;
		    border-right: 5px solid transparent;
		    border-left: 5px solid transparent;
	    }
	}
}